﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.mask {
    z-index: 100000;
    background-color: rgba(0,0,0,0.2);
    position: absolute;
    width: 100%;
    height: 100%;
}

.loading {
    position: absolute;
    border-bottom: 6px solid #fff;
    border-left: 6px solid #fff;
    border-right: 6px solid #438FBC;
    border-top: 6px solid #438FBC;
    border-radius: 100%;
    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    -ms-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
    width: 50px;
    height: 50px;
    left: 50%;
    margin: 0 auto;
    top: 50%;
    margin-top: -25px;
    margin-left: -25px;
}

#map {
    height: 400px;
    width: 100%;
}

.cursorPointer {
    cursor: pointer;
}

.iconImageUrl {
    width: 6em;
    height: 6em;
    zoom: 59%;
}

#nearbyPeopleListContainer,#matchedPeopleListContainer {
    overflow-y: scroll;
}

#nearbyPeopleList {
    max-height: 668px;
    min-height: 668px;
}
#matchedPeopleList {
    max-height: 366px;
    min-height: 366px;
}

.heartIcon {
    color: hotpink;
    font-size: 15px;
}

#mainDiv {
    margin-top: 65px;
}

.block {
    display: block;
}
.tile {
    border-radius: 25px !important;
    max-height: 320px;
    max-width: 520px;
}

    .tile:hover {
        box-shadow: 2px 1px 7px #428bca;
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
        transition-duration: 0.5s;
    }
